@charset "utf-8";

/*! bulma.io v0.5.3 | MIT License | github.com/jgthms/bulma */
@import "variables";
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";
@import "overrides";

$mdi-font-path: "/fonts";
@import "materialdesignicons";

.title > small,
.subtitle > small {
  font-size: 65%;
  color: $grey-light;
}

.is-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
.is-sr-focusable {
  &:active, &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
*/

.bg-danger {
  background: $danger;
}

.bg-danger:hover {
  background: lighten($danger, 10%) !important;
}

.bg-warning {
  background: $warning;
}

.bg-warning:hover {
  background: lighten($warning, 10%) !important;
}

.bg-info {
  background: $info;
}

.bg-info:hover {
  background: lighten($info, 10%) !important;
}

.bg-success {
  background: $success;
}

.bg-success:hover {
  background: lighten($success, 10%) !important;
}

.rym-padded {
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
}

h2.title:not(:last-child),
h2.subtitle:not(:last-child),
h3.title:not(:last-child),
h3.subtitle:not(:last-child) {
  margin: 1rem 0 0.75rem 0;
}

del,
ins {
  padding: 0 0.2rem
}

// adapted from https://github.com/twbs/bootstrap/blob/3f01134031b15a934d5e233bb26a407a7e05492b/scss/mixins/_lists.scss
// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}

.list-inline-item {
  display: inline-block;

  &:not(:last-child):before {
    font-size: 80%;
    content: " ";
  }

  &:not(:last-child):after {
    font: normal normal normal #{$mdi-font-size-base}/1 "#{$mdi-font-name}"; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 80%;
    content: " \F583"; // mdi-walk
  }
}
