@charset "utf-8";

/*! bulma.io v0.5.3 | MIT License | github.com/jgthms/bulma */
@import "variables";
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";
@import "overrides";

$mdi-font-path: "/fonts";
@import "materialdesignicons";

.title > small,
.subtitle > small {
  font-size: 65%;
  color: $grey-light;
}

.is-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
.is-sr-focusable {
  &:active, &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
*/

.bg-danger {
  background: $danger;
}

.bg-danger:hover {
  background: lighten($danger, 10%) !important;
}

.bg-warning {
  background: $warning;
}

.bg-warning:hover {
  background: lighten($warning, 10%) !important;
}

.bg-info {
  background: $info;
}

.bg-info:hover {
  background: lighten($info, 10%) !important;
}

.bg-success {
  background: $success;
}

.bg-success:hover {
  background: lighten($success, 10%) !important;
}

.rym-padded {
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
}

h2.title:not(:last-child),
h2.subtitle:not(:last-child),
h3.title:not(:last-child),
h3.subtitle:not(:last-child) {
  margin: 1rem 0 0.75rem 0;
}
